.container{
    min-height: 100vh;
    display: flex;
}

.col{
    min-height: 25vh;
}

.lc-cell{
    border-right: 1px solid black;
}

/* .md-cell{
    border-left: 1px solid black;
    border-right: 1px solid black;
} */

.rc-cell{
    border-left: 1px solid black;
}

.tr-cell{
    border-bottom: 1px solid black;
}

.br-cell{
    border-top: 1px solid black;
}

